body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

#app-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    min-height: 500px;
    position: relative;
    overflow: hidden; /* Important for page switching effect */
}

.page {
    position: flex;
    margin-top: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}

.page.active {
    display: flex;
}

h1 {
    font-size: 48px;
    color: #333;
}

h2 {
    font-size: 32px;
    color: #555;
    /* margin-bottom: 20px; */
}

button {
    padding: 20px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.back-btn {
    background-color: #6c757d;
}

.button-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.config-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 10px 0;
    font-size: 18px;
}

input[type="number"] {
    padding: 8px;
    width: 80px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Countdown Page Styling */
#countdown-page h1 {
    font-size: 100px;
    color: #dc3545;
    padding-top: 50px;
}

/* Game 1 Styling */
.note-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    /* margin: 20px 0; */
}

.result-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    min-height: 40px;
    /* margin-bottom: 20px; */
}

/* Game 2 Styling */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
    width: 700px;
    height: 300px;
    padding: 10px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 3px solid transparent;
    transition: border 0.2s;
}

.grid-item.highlight {
    border: 3px solid red;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.voice-btn {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}
.voice-btn:hover {
    background-color: #81c7ea;
}

#bg-music {
  display: none; /* Hides the player interface completely */
}